# =========================
# Vivado Hardware Artifacts
# =========================
# Ignore the heavy build runs (Synthesis and Implementation)
*.runs/
*.cache/
*.hw/
*.sim/
*.gen/

# Ignore temporary Xilinx files and local IP files
.Xil/
*.ip_user_files/
manage_ip_project/

# Ignore logs and journals
*.jou
*.log
*.str
*.pb
*.wdf
*.dir/

# Ignore generated bitstreams
*.bit
*.bin

# =========================
# Vitis / MicroBlaze C Code
# =========================
# Ignore compiled object files and executables
*.o
*.d
*.elf
.clangd/
compile_commands.json
_ide/
.rigel_lopper/
vitis-comp.json


# Ignore build directories
build/
Debug/
Release/
.metadata/

# Ignore generated hardware platforms and board support packages (BSPs)
*_hw_platform*/
*_bsp*/
*.xsa

# CMake / C++ Tooling
.compile_commands/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# VS Code & Environment
# =========================
.vscode/
*.swp
*~
.DS_Store

# Misc & Backups 
.mypy_cache/
Backup/
